article {
  display: block;
  background-color: grey;
  color: purple;
  padding: 30px;
  font-size: 22px; 
  font-family: Verdana, sans-serif;
  font-style: Bold;
  float: left;
  width: 70%;
  height: 300px; 
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("paper.gif");
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
	  background-color: green;
}